In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('./dataset/kc_house_data (Decision Tree).xlsx')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_range
0,3421079032,20150217T000000,75000,1,0.00,670,43377,1.0,0,0,...,670,0,1966,0,98022,47.2638,-121.906,1160,42882,0 > Price < 100000
1,40000362,20140506T000000,78000,2,1.00,780,16344,1.0,0,0,...,780,0,1942,0,98168,47.4739,-122.280,1700,10387,0 > Price < 100000
2,8658300340,20140523T000000,80000,1,0.75,430,5050,1.0,0,0,...,430,0,1912,0,98014,47.6499,-121.909,1200,7500,0 > Price < 100000
3,3028200080,20150324T000000,81000,2,1.00,730,9975,1.0,0,0,...,730,0,1943,0,98168,47.4808,-122.315,860,9000,0 > Price < 100000
4,3883800011,20141105T000000,82000,3,1.00,860,10426,1.0,0,0,...,860,0,1954,0,98146,47.4987,-122.341,1140,11250,0 > Price < 100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,8907500070,20150413T000000,5350000,5,5.00,8000,23985,2.0,0,4,...,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750,Price > 1000000
21609,2470100110,20140804T000000,5570000,5,5.75,9200,35069,2.0,0,0,...,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345,Price > 1000000
21610,9208900037,20140919T000000,6885000,6,7.75,9890,31374,2.0,0,4,...,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,Price > 1000000
21611,9808700762,20140611T000000,7062500,5,4.50,10040,37325,2.0,1,2,...,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449,Price > 1000000
21612,6762700020,20141013T000000,7700000,6,8.00,12050,27600,2.5,0,3,...,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,Price > 1000000

In [4]:
Y = df.price_range
Y

0        0 > Price < 100000
1        0 > Price < 100000
2        0 > Price < 100000
3        0 > Price < 100000
4        0 > Price < 100000
                ...
21608       Price > 1000000
21609       Price > 1000000
21610       Price > 1000000
21611       Price > 1000000
21612       Price > 1000000
Name: price_range, Length: 21613, dtype: object

In [5]:
X = df.drop(['date', 'price', 'id', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'price_range'], axis=1)
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated
0,1,0.00,670,43377,1.0,0,0,3,3,670,0,1966,0
1,2,1.00,780,16344,1.0,0,0,1,5,780,0,1942,0
2,1,0.75,430,5050,1.0,0,0,2,4,430,0,1912,0
3,2,1.00,730,9975,1.0,0,0,1,5,730,0,1943,0
4,3,1.00,860,10426,1.0,0,0,3,6,860,0,1954,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0
21609,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0
21610,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0
21611,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001
21612,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987

In [6]:
target_name = list(set(Y))
feature_name = list(X.columns)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [9]:
X_train.shape, Y_train.shape

((17290, 13), (17290,))

In [10]:
X_test.shape, Y_test.shape

((4323, 13), (4323,))

In [13]:
from sklearn import tree

In [25]:
model = tree.DecisionTreeClassifier(max_depth=5)

In [26]:
clf = model.fit(X_train, Y_train)
clf

DecisionTreeClassifier(max_depth=5)

In [27]:
Y_pred = clf.predict(X_test)
Y_pred

array(['600000 > Price < 700000', '800000 > Price < 900000',
       '200000 > Price < 300000', ..., '500000 > Price < 600000',
       '300000 > Price < 400000', '500000 > Price < 600000'], dtype=object)

In [28]:
import graphviz

In [29]:
dot_data = tree.export_graphviz(clf, out_file=None, feature_names=feature_name, class_names=target_name, filled=True, rounded=True)
graph = graphviz.Source(dot_data)
graph.render('house price (DT)')

'house price (DT).pdf'